#root {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #363c3c;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3em; 
  height: 3em; 
}
.logo img {
  margin-left: 30px;
}
.search-box {
  background-color: #d6d8d8;
  border-radius: 10px;
  border-radius: 10px;
  margin-right: 3em;
  float: right;
  height: 3em; 
  width: 15em; 
  display: flex; 
  align-items: center; 
  padding-left: 10px; 
}
.search-box input{
  background-color: transparent;
  border: none;
  flex: 1;
  padding-left: 5px; 
  height: 100%;
  border: none; 
  outline: none;
  
}
.search-box input:focus {
  outline: none;
}

#search-icon {
  margin-right: 10px;
}
/* 
.main {
} */

ul {
  list-style: none;
}

.left {
  float: left;
  width: 25%;
  height: 100vh;
  background-color: #d6d8d8;
  display: flex;
  flex-direction: column;
}

.left-col-categories {
  padding-left: 5px;
  font-size: 1.5em;
  /* 28px; */
  color: 363c3c;
  overflow: hidden;
}
.random-div {
  margin-top: 40px;
  text-align: center; 
}

.btn-rnd {
  width: 90%; 
  max-width: 260px;
  height: 60px;
  border: solid 1px;
  border-radius: 10px;
  font-size: 2vw; 
 
  /* //24px */
  display: inline-flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: auto;
  word-wrap: break-word;  
  overflow-wrap: break-word;
}

@media screen and (min-width: 1368px) {
  .btn-rnd  {
     font-size: 24px;
  }
}

.no-search-results {
  padding-top: 40px;
  width: 75%;
  float: left;
  display: flex;
  justify-content: center;

}
 
.colors-h2 {
  text-align: center;
  line-height: 2.5rem;
  font-size: 28px;
}
.colors-div{
  padding-top: 40px;
  width: 75%;
  float: left;
}
.colors-div h2 {
  text-align: center;
  line-height: 2.5rem;
  font-size: 28px;
}
.color-list {
  /* padding-top: 40px; */
  display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding-left: 16px;
    justify-content: space-evenly;
  }
  .shade-item {
    width: 220px;
    height: 261px;
    margin-right: 10px;
    border: solid 4px #efebeb;
    /* box-shadow:  2px 2px 2px 2px gray;  */
    border-radius: 10px;
    margin: 10px;
  }

.color-swatch {
  margin: auto;
  width: 218px; 
  height: 208.42px;  
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}


.shade-info {
  font-size: 24px;
  padding-left: 21px;
  padding-top: 10px;
  width: 74px;
  height: 33px;
  text-align: left;
  display: inline-block;
  align-self: flex-end;
  color: #363c3c;
}

.active {
  color: #63b226; 
  font-weight: bold; 
}

/* deatil view */
.single-sw-page {
  text-align: center; 
}

.selected-swatch{
  width: 90vh;
  max-width: 1040px;
  height: 50vh;
  text-align: center; 
  border: 1px solid;
  border-radius: 10px;
  margin: 0 auto;
}

.swatch-large {
  width: auto;
  height: 40vh;
  max-height: 60vh; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.swatch-large-info {
   width: 162px;
  height: 65px; 
  padding-left: 40px;
  padding-top: 20px;
  font-size: 24px;
}

.swatch-carousel {

}
.btn-div {
  margin-top: 40px;
}
.btn-clear {
 
  width: 260px;
  height: 60px;
  border: solid 1px;
  border-radius: 10px;
  font-size: 24px;
  display: inline-flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: auto;
}

button:hover {
  background-color: #63b226; 
  transition: 0.7s;
}

.pagination-div {
   text-align: center;
 
}
.pagination {
  list-style-type: none;
  position: relative;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
}
.pagination li {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 0.4em; /* Adjust as needed */
}

.activePage {
  font-weight: bold;
  text-decoration: underline;
}
