#root {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  width: 52px;
  height: 52px;
 
}
.logo img {
  margin-left: 30px;
  padding-top: 24px;
}
.search-box {
  margin-right: 20px;
  float: right;


}


.main {

}
.header {
  background-color: #363c3c;
  height: 100px;
  /* width: 100vh; */
}
ul {
  list-style: none;
}
.left-col-categories{
  float: left;
  width: 320px;
  height: 1113px;
  background-color: #d6d8d8;
  font-size: 28px;
  color: 363c3c;
}
.right-col{

  width: 75%;
  float: left;
}
.colors-h2 {
  text-align: center;
  line-height: 2.5rem;
  font-size: 28px;

}
.color-list {
  margin-top: 1rem;
  display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding-left: 16px;
    justify-content: space-evenly;
  }
.single-list-elem {
  width: 220px;
  height: 261px;
  margin-right: 10px;
  border: solid 4px #efebeb;
  /* box-shadow:  5px 5px 5px 5px gray;  */
  border-radius: 10px;
  margin: 10px;


}
.color-swatch {
  margin: auto;
  width: 218px; /* Adjust size as needed */
  height: 208.42px; /* Adjust size as needed */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}


.color-info {
  font-size: 24px;
  padding-left: 21px;
  padding-top: 10px;
  width: 74px;
  height: 33px;
  text-align: left;
  display: inline-block;
  align-self: flex-end;
  color: #363c3c;
}


.active {
  color: #63b226; 
  font-weight: bold; 
}

/* deatil view */
.single-sw-page {
  text-align: center; 
}

.selected-swatch{
  width: 1040px;
  height: 690px;
  text-align: center; 
  border: 1px solid;
  border-radius: 10px;
}

.swatch-large {
  width: 1040px;
  height: 552px;
  

}

.swatch-large-info {
  width: 162px;
  height: 65px;
  margin-left: 40px;
}

.swatch-carousel {

}
.btn-div {
  margin-top: 40px;
}
.btn-clear {
 
  width: 260px;
  height: 60px;
  border: solid 1px;
  border-radius: 10px;
  font-size: 24px;
  display: inline-flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: auto;
}

button:hover {
  background-color: #63b226; 
  transition: 0.7s;
}

